<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="filtro-cliente.component.css">
    <title>Clientes</title>
</head>
<body>
    <h1>Clientes<h1>
    <br>
    <mat-form-field>
      <input matInput (keyup)="filtrarCliente($event)" placeholder="Buscar">
    </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="cod_cli">
          <th mat-header-cell *matHeaderCellDef> Codigo </th>
          <td mat-cell *matCellDef="let element"> {{element.cod_cli}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="nom_cli">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nom_cli}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ape_cli">
            <th mat-header-cell *matHeaderCellDef> Apellido</th>
            <td mat-cell *matCellDef="let element"> {{element.ape_cli}} </td>
          </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="telf_cli">
          <th mat-header-cell *matHeaderCellDef> Telefono </th>
          <td mat-cell *matCellDef="let element"> {{element.telf_cli}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="correo_cli">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.correo_cli}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
        <ng-container matColumnDef="tipo_clase">
            <th mat-header-cell *matHeaderCellDef> Clase </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo_clase.des_clase}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="tipo_membresia">
              <th mat-header-cell *matHeaderCellDef> Membresia </th>
              <td mat-cell *matCellDef="let element"> {{element.tipo_membresia.des_membresia}} </td>
            </ng-container>

            <!-- Symbol Column -->
        <ng-container matColumnDef="fecha_inicio">
            <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_inicio}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
        <ng-container matColumnDef="fecha_fin">
            <th mat-header-cell *matHeaderCellDef> Fecha de fin </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_fin}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="tipo_documento">
              <th mat-header-cell *matHeaderCellDef> Documento </th>
              <td mat-cell *matCellDef="let element"> {{element.tipo_documento.des_documento}} </td>
            </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayesColumns;"></tr>

      </table>


      
      
